{%extends "base.html"%}
{%block content%}

<h2 class="mb-5">Please pick a service you need</h2>

<div class="d-flex justify-content-center m-5">
   <button type="button" class="btn btn-outline-success ml-2">
          <a href="/get_ticket/inflate_tires">Inflate tires</a>
   </button>
</div>

<div class="d-flex justify-content-center m-5">
  <button type="button" class="btn btn-outline-success ml-2">
    <a href="/get_ticket/change_oil">Change oil</a>
     </button>
</div>

<div class="d-flex justify-content-center m-5">
   <button type="button" class="btn btn-outline-success ml-2">
      <a href="/get_ticket/diagnostic">Diagnostic</a>
   </button>

</div>

<a href="/" class="mb-5 justify-content-center">Back to home page</a>

{%endblock%}

